:root {
  --oph-grey900: #1d1d1d;
  --oph-grey800: #454545;
  --oph-grey700: #4c4c4c;
  --oph-grey600: #5d5d5d;
  --oph-grey500: #6d6d6d;
  --oph-grey400: #b2b2b2;
  --oph-grey300: #c8c8c8;
  --oph-grey200: #dfdfdf;
  --oph-grey100: #ededed;
  --oph-grey50: #f6f6f6;
  --oph-black: #000000;
  --oph-white: #ffffff;
  --oph-blue1: #000066;
  --oph-blue2: #0033cc;
  --oph-blue3: #0041dc;
  --oph-cyan1: #006699;
  --oph-cyan2: #66cccc;
  --oph-cyan3: #99ffff;
  --oph-lightBlue1: #82d4ff;
  --oph-lightBlue2: #c1eaff;
  --oph-green1: #254905;
  --oph-green2: #378703;
  --oph-green3: #5bca13;
  --oph-green4: #9cff5a;
  --oph-green5: #ccffcc;
  --oph-red1: #990066;
  --oph-red2: #e60895;
  --oph-orange1: #663300;
  --oph-orange2: #993300;
  --oph-orange3: #cc3300;
  --oph-orange4: #ff5500;
  --oph-yellow1: #ffcc33;
  --oph-yellow2: #ffd900;
  --oph-yellow3: #ffff33;
  --oph-pink1: #ff66cc;
  --oph-pink2: #ffccff;
  --oph-pink3: #fdf2f2;
  --oph-purple1: #660066;
  --oph-purple2: #660099;
  --oph-purple3: #c227b9;
  --oph-purple4: #cc99ff;

  --pico-font-size: 90%;
  --pico-line-height: 1.2;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-primary: var(--oph-blue3);
  --pico-primary-background: var(--oph-blue3);
  --pico-primary-border: var(--oph-blue3);
  --pico-primary-hover: var(--oph-blue2);
  --pico-primary-hover-background: var(--oph-blue2);
  --pico-primary-hover-border: var(--oph-blue2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-weight: 200;
}

nav.main {
  margin-top: calc(-1 * var(--pico-block-spacing-vertical));
  margin-bottom: var(--pico-block-spacing-vertical);

  padding: var(--pico-block-spacing-vertical)
    var(--pico-block-spacing-horizontal);
  background: var(--pico-card-background-color);
  box-shadow: var(--pico-card-box-shadow);
}

nav.main a {
  color: var(--oph-grey800);
}

nav.main h1 {
  margin: 0;
}

nav.main ul.breadcrumbs {
  display: block;
  padding-left: var(--pico-block-spacing-horizontal);
}

nav.main ul.breadcrumbs li {
  padding: 0;
}

nav.main ul.breadcrumbs li::before {
  content: "/";
  color: var(--oph-grey400);
  margin: 0 1ex;
}

nav.main ul.breadcrumbs li:first-child::before,
nav.main ul.breadcrumbs li:nth-child(2)::before {
  content: none;
}

nav.main ul.breadcrumbs li:first-child {
  display: block;
}

.page-title {
  --page-title-spacing-vertical: calc(3 * var(--pico-block-spacing-vertical));
  margin-top: var(--page-title-spacing-vertical);
  margin-bottom: var(--page-title-spacing-vertical);
}

.grid.center-vertically {
  align-items: center;
}

article.error-text {
  color: var(--oph-orange1);
  border: solid 2px var(--oph-orange4);
  background: #ffe9e1;
}

article.error-text a {
  color: var(--oph-orange1);
}

article > *:last-child {
  margin-bottom: 0;
}

article.compact {
  padding: 0;
}

article.compact .cardContent,
article.compact footer {
  margin: 0;
  padding: var(--pico-block-spacing-vertical)
    var(--pico-block-spacing-horizontal);
}

article.compact .cardContent:not(:first-child),
article.compact footer:not(:first-child) {
  padding-top: 0;
}

.cardContent > *:last-child {
  margin-bottom: 0;
}

article.compact table td {
  white-space: nowrap;
}

article.compact table th,
article.compact table th a {
  white-space: nowrap;
  text-decoration: none;
}

article.compact table .truncated {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

article > table {
  width: 100%;
}

table tr:last-child td {
  border-bottom: none;
}

table.info-table th {
  width: 25%;
}

table td select,
table td input {
  margin-bottom: 0 !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination ul {
  column-gap: calc(2 * var(--pico-block-spacing-vertical));
}

.pagination li {
  display: block;
}

.pagination li a {
  display: flex;
  height: calc(2 * var(--pico-block-spacing-vertical));
  min-width: calc(2 * var(--pico-block-spacing-vertical));
  align-content: center;
  justify-content: center;
  border-radius: 99999px;
  line-height: 1em;
  text-decoration: none;
}

.pagination li a[disabled] {
  color: var(--oph-grey400);
}

.pagination li a:hover:not([disabled]) {
  background: var(--oph-grey100);
}

.pagination li.current a {
  color: var(--oph-white);
  background: var(--pico-primary);
}
