name: kitu

services:
  db:
    build:
      dockerfile: possu.Dockerfile
    volumes:
      - ./scripts/postgres-docker/init-db.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: kitu
      POSTGRES_PASSWORD: kitu
      PGUSER: kitu
    ports:
      - "5432:5432"

  jaeger:
    image: jaegertracing/jaeger:latest
    ports:
      - "16686:16686" # UI
      - "4318:4318" # OTLP HTTP
