<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/structured-console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="!(untuva | qa | prod)">
        <appender name="AUDIT_LOCAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/audit.log</file>
            <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
                <format>${FILE_LOG_STRUCTURED_FORMAT}</format>
                <charset>${FILE_LOG_CHARSET}</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/audit.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>

        <logger name="auditLogger" level="INFO" additivity="false">
            <appender-ref ref="AUDIT_LOCAL"/>
        </logger>
    </springProfile>

    <springProfile name="untuva | qa | prod">
        <appender name="AUDIT_CLOUDWATCH" class="fi.oph.kitu.logging.CloudwatchAppender">
            <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
                <format>${CONSOLE_LOG_STRUCTURED_FORMAT}</format>
                <charset>${CONSOLE_LOG_CHARSET}</charset>
            </encoder>
            <logGroupName>${AUDIT_LOG_LOG_GROUP_NAME:-}</logGroupName>
        </appender>

        <logger name="auditLogger" level="INFO" additivity="false">
            <appender-ref ref="AUDIT_CLOUDWATCH"/>
        </logger>
    </springProfile>
</configuration>
