{{<page}}
{{$body}}
    <h1>Kielitutkintorekisteri</h1>
    <section data-testid="yki-links">
        <h2>Yleiset kielitutkinnot</h2>
        <ul>
          <li><a href="yki/suoritukset">Suoritukset</a></li>
          <li><a href="yki/arvioijat">Arvioijat</a></li>
        </ul>
    </section>
    <section data-testid="koto-kielitesti-links">
        <h2>Kotoutumiskoulutuksen kielikokeet</h2>
        <ul>
          <li><a href="koto-kielitesti/suoritukset">Suoritukset</a></li>
        </ul>
    </section>
{{/body}}
{{/page}}
