{{<page}}
  {{$title}}
    Kielitutkintorekisteri - Kotoutumiskoulutuksen kielikokeet - suoritukset
  {{/title}}
  {{$breadcrumbs}}
    <li><a href="/koto-kielitesti/suoritukset">Kotoutumiskoulutuksen kielikokeet</a></li>
    <li><a href="/koto-kielitesti/suoritukset">Suoritukset</a></li>
    <li><a href="/koto-kielitesti/suoritukset/virheet">Virheet</a></li>
  {{/breadcrumbs}}
  {{$body}}
    <article class="overflow-auto">
      <table class="compact striped">
        <thead>
        <tr>
          {{#header}}
            <th id="{{column.lowercaseName}}">
              <a href="?sortColumn={{column.lowercaseName}}&sortDirection={{sortDirection}}">
              {{column.uiHeaderValue}} {{symbol}}
              </a>
            </th>
          {{/header}}
        </tr>
        </thead>
        <tbody class="virheet">
        {{#virheet}}
          <tr data-testid="virhe-summary-row">
            <td class="truncated" headers="hetu">
              {{#hetu}}
                <span title="{{hetu}}">{{hetu}}</span>
              {{/hetu}}
            </td>
            <td headers="nimi">{{nimi}}</td>
            <td headers="schoolOid">{{#schoolOid}}{{schoolOid}}{{/schoolOid}}</td>
            <td headers="teacherEmail">{{#teacherEmail}}{{teacherEmail}}{{/teacherEmail}}</td>
            <td headers="virheenLuontiaika">{{virheenLuontiaika}}</td>
            <td headers="viesti">{{viesti}}</td>
            <td headers="virheellinenKentta">{{#virheellinenKentta}}{{virheellinenKentta}}{{/virheellinenKentta}}</td>
            <td headers="virheellinenArvo">{{#virheellinenArvo}}{{virheellinenArvo}}{{/virheellinenArvo}}</td>
          </tr>
        {{/virheet}}
        </tbody>
      </table>
    </article>
  {{/body}}
{{/page}}
