<!doctype html>
<html lang="fi">
<head>
    <title>
        {{$title}}
        Kielitutkintorekisteri
        {{/title}}
    </title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body data-testid="page-body">
<header data-testid="page-main-nav-header" class="main">
    <h1><a href="/">Kielitutkintorekisteri</a></h1>
    <nav aria-label="Päänavigaatio">
        <ul>
            <li class="dropdown">
                <button type="button" class="dropdown__title" aria-controls="yki-dropdown">
                    Yleiset kielitutkinnot
                </button>
                <ul class="dropdown__menu" id="yki-dropdown">
                    <li><a href="/yki/suoritukset">Suoritukset</a></li>
                    <li><a href="/yki/arvioijat">Arvioijat</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button type="button" class="dropdown__title" aria-controls="koto-dropdown">
                    Kotoutumiskoulutuksen kielikokeet
                </button>
                <ul class="dropdown__menu" id="koto-dropdown">
                    <li><a href="/koto-kielitesti/suoritukset">Suoritukset</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<section data-testid="page-content" class="main content">
    {{$body}}
    {{/body}}
</section>
</body>
</html>
