<!doctype html>
<html lang="fi" data-theme="light">
<head>
  <title>
    {{$title}}
      Kielitutkintorekisteri
    {{/title}}
  </title>
  <link href="/pico.min.css" rel="stylesheet" />
  <link href="/style.css" rel="stylesheet" />
</head>
<body data-testid="page-body">
<main>
  <nav class="container-fluid main" data-testid="page-main-nav-header">
    <ul>
      <li>
        <ul class="breadcrumbs" data-testid="breadcrumbs">
          <li><a href="/"><strong>Kielitutkintorekisteri</strong></a></li>
          {{$breadcrumbs}}
          {{/breadcrumbs}}
        </ul>
      </li>
    </ul>
    <ul data-testid="main-nav">
      <li>
        <details class="dropdown">
          <summary>Yleiset kielitutkinnot</summary>
          <ul dir="rtl">
            <li><a href="/yki/suoritukset">Suoritukset</a></li>
            <li><a href="/yki/arvioijat">Arvioijat</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details class="dropdown">
          <summary>Kotoutumiskoulutuksen kielikokeet</summary>
          <ul dir="rtl">
            <li><a href="/koto-kielitesti/suoritukset">Suoritukset</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details class="dropdown">
          <summary>Valtiohallinnon kielikokeet</summary>
          <ul dir="rtl">
            <li><a href="/vkt/ilmoittautuneet">Erinomaisen tason ilmoittautuneet</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>

  <section data-testid="page-content" class="container-fluid">
    {{$body}}
    {{/body}}
  </section>
</main>
</body>
</html>
