{{<page}}
  {{$title}}
    Kielitutkintorekisteri - Yleiset kielitutkinnot - suoritukset - virheet
  {{/title}}
  {{$breadcrumbs}}
    <li><a href="/yki/suoritukset">Yleiset kielitutkinnot</a></li>
    <li><a href="/yki/suoritukset">Suoritukset</a></li>
    <li><a href="/yki/suoritukset/virheet">Virheet</a></li>
  {{/breadcrumbs}}
  {{$body}}
    <article class="overflow-auto">
    <table class="compact striped">
      <thead>
      <tr>
        {{#header}}
          <th>
            <a href="?sortColumn={{
              column.lowercaseName
            }}&sortDirection={{
              sortDirection
            }}">
              {{column.uiHeaderValue}} {{symbol}}
            </a>
          </th>
        {{/header}}
      </tr>
      </thead>
      <tbody class="virheet">
      {{#virheet}}
        <tr>
          <td>
              {{#suorittajanOid}}
                  {{suorittajanOid}}
              {{/suorittajanOid}}
              {{^suorittajanOid}}
                 arvo puuttuu
              {{/suorittajanOid}}
          </td>
          <td>
              {{#hetu}}
                  {{hetu}}
              {{/hetu}}
              {{^hetu}}
                  arvo puuttuu
              {{/hetu}}
          </td>
          <td>
              {{#nimi}}
                {{nimi}}
              {{/nimi}}
              {{^nimi}}
                  arvo puuttuu
              {{/nimi}}
          </td>
          <td>
              {{#lastModified}}
                  {{lastModified}}
              {{/lastModified}}
              {{^lastModified}}
                  arvo puuttuu
              {{/lastModified}}
          </td>
          <td>
              {{#virheellinenKentta}}
                  {{virheellinenKentta}}
              {{/virheellinenKentta}}
              {{^virheellinenKentta}}
                  arvo puuttuu
              {{/virheellinenKentta}}
          </td>
          <td>
              {{#virheellinenArvo}}
                  {{virheellinenArvo}}
              {{/virheellinenArvo}}
              {{^virheellinenArvo}}
                  arvo puuttuu
              {{/virheellinenArvo}}
          </td>
	      <td>{{virheellinenRivi}}</td>
          <td>{{virheenRivinumero}}</td>
          <td>{{virheenLuontiaika}}</td>
        </tr>
      {{/virheet}}
      </tbody>
    </table>
    </article>
  {{/body}}
{{/page}}
