{{<page}}
  {{$title}}
    Kielitutkintorekisteri - Yleiset kielitutkinnot - suoritukset - virheet
  {{/title}}
  {{$body}}
    <h1>Yleiset kielitutkinnot - suoritukset - virheet</h1>
    <table>
      <thead>
      <tr>
        {{#header}}
          <th>
            <a href="?sortColumn={{
              column.lowercaseName
            }}&sortDirection={{
              sortDirection
            }}">
              {{column.uiHeaderValue}} {{symbol}}
            </a>
          </th>
        {{/header}}
      </tr>
      </thead>
      <tbody class="virheet">
      {{#virheet}}
        <tr>
          <td>{{#suorittajanOid}}{{suorittajanOid}}{{/suorittajanOid}}</td>
          <td>{{#hetu}}{{hetu}}{{/hetu}}</td>
          <td>{{#nimi}}{{nimi}}{{/nimi}}</td>
          <td>{{#lastModified}}{{lastModified}}{{/lastModified}}</td>
          <td>{{#virheellinenKentta}}{{virheellinenKentta}}{{/virheellinenKentta}}</td>
          <td>{{#virheellinenArvo}}{{virheellinenArvo}}{{/virheellinenArvo}}</td>
	      <td>{{virheellinenRivi}}</td>
          <td>{{virheenRivinumero}}</td>
          <td>{{virheenLuontiaika}}</td>
        </tr>
      {{/virheet}}
      </tbody>
    </table>
  {{/body}}
{{/page}}
