{{<page}}
{{$title}}
Kielitutkintorekisteri - Yleiset kielitutkinnot - arvioijat
{{/title}}
{{$body}}
    <h1>Yleiset kielitutkinnot - arvioijat</h1>

    {{#errorsCount}}
        <p class="error-text">Järjestelmässä on {{errorsCount}} virhettä. <a href="/yki/arvioijat/virheet"> Katso virheet</a> </p>
    {{/errorsCount}}

    <table>
      <thead>
        <tr>
          {{#header}}
            <th>
              <a href="?sortColumn={{
                  column.lowercaseName
              }}&sortDirection={{
                  sortDirection
              }}">
                {{column.uiHeaderValue}} {{symbol}}
              </a>
            </th>
          {{/header}}
        </tr>
      </thead>
      <tbody>
        {{#arvioijat}}
        <tr>
          <td>{{arvioijanOppijanumero}}</td>
          <td>{{henkilotunnus}}</td>
          <td>{{sukunimi}}</td>
          <td>{{etunimet}}</td>
          <td>{{sahkopostiosoite}}</td>
          <td>{{katuosoite}}, {{postinumero}} {{postitoimipaikka}}</td>
          <td>{{tila}}</td>
          <td>{{kieli}}</td>
          <td>{{tasot}}</td>
          <td>{{#kaudenAlkupaiva}}{{kaudenAlkupaiva}}{{/kaudenAlkupaiva}}</td>
          <td>{{#kaudenPaattymispaiva}}{{kaudenPaattymispaiva}}{{/kaudenPaattymispaiva}}</td>
          <td>{{jatkorekisterointi}}</td>
          <td>{{rekisteriintuontiaika}}</td>
        </tr>
        {{/arvioijat}}
      </tbody>
    </table>
{{/body}}
{{/page}}
