{{<page}}
  {{$title}}
    Kielitutkintorekisteri - Yleiset kielitutkinnot - suoritukset - virheet
  {{/title}}
  {{$body}}
    <h1>Yleiset kielitutkinnot - suoritukset - virheet</h1>
    <table>
      <thead>
      <tr>
        {{#header}}
          <th>
            <a href="?sortColumn={{
              column.lowercaseName
            }}&sortDirection={{
              sortDirection
            }}">
              {{column.uiHeaderValue}} {{symbol}}
            </a>
          </th>
        {{/header}}
      </tr>
      </thead>
      <tbody class="virheet">
      {{#virheet}}
        <tr>
          <td>{{oid}}</td>
          <td>{{hetu}}</td>
          <td>{{nimi}}</td>
          <td>{{virheellinenArvo}}</td>
          <td>{{virheellinenSarake}}</td>
          <td>{{created}}</td>
        </tr>
      {{/virheet}}
      </tbody>
    </table>
  {{/body}}
{{/page}}
