{{<page}}
{{$title}}
Kielitutkintorekisteri - Yleiset kielitutkinnot - suoritukset
{{/title}}
{{$body}}
    <h1>Yleiset kielitutkinnot - suoritukset</h1>

    <form action="">
      <label>
        Oppijanumero, henkilötunnus tai hakusana:
        <input id="search" type="search" name="search" value="{{paging.searchStr}}" />
      </label>
      <label>
        Näytä versiohistoria
      <input id="versionHistory" type="checkbox" name="versionHistory" {{#versionHistory}}checked{{/versionHistory}} />
      </label>
      <button type="submit" >Suodata</button>
    </form>

    <a href="/yki/api/suoritukset?includeVersionHistory={{versionHistory}}" download>Lataa tiedot CSV:nä</a>

    <p>Suorituksia yhteensä: {{paging.totalEntries}}</p>

    <table>
      <thead>
        <tr>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=suorittajan_oid">Oppijanumero</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=sukunimi">Sukunimi</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=etunimet">Etunimet</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=sukupuoli">Sukupuoli</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=hetu">Henkilötunnus</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=kansalaisuus">Kansalaisuus</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=katuosoite">Osoite</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=email">Sähköposti</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=suoritus_id">Suorituksen tunniste</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=tutkintopaiva">Tutkintopäivä</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=tutkintokieli">Tutkintokieli</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=tutkintotaso">Tutkintotaso</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=jarjestajan_tunnus_oid">Järjestäjän OID</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=jarjestajan_nimi">Järjestäjän nimi</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=arviointipaiva">Arviointipäivä</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=tekstin_ymmartaminen">Tekstin ymmärtäminen</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=kirjoittaminen">Kirjoittaminen</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=rakenteet_ja_sanasto">Rakenteet ja sanasto</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=puheen_ymmartaminen">Puheen ymmärtämine</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=puhuminen">Puhuminen</a></th>
          <th><a href="?search={{paging.searchStr}}&includeVersionHistory={{versionHistory}}&sortColumn=yleisarvosana">Yleisarvosana</a></th>
        </tr>
      </thead>
      {{#suoritukset}}
      <tbody class="suoritus">
        <tr>
          <td>{{suorittajanOID}}</td>
          <td>{{sukunimi}}</td>
          <td>{{etunimet}}</td>
          <td>{{sukupuoli}}</td>
          <td>{{hetu}}</td>
          <td>{{kansalaisuus}}</td>
          <td>{{katuosoite}}, {{postinumero}} {{postitoimipaikka}}</td>
          <td>{{email}}</td>
          <td>{{suoritusId}}</td>
          <td>{{tutkintopaiva}}</td>
          <td>{{tutkintokieli}}</td>
          <td>{{tutkintotaso}}</td>
          <td>{{jarjestajanTunnusOid}}</td>
          <td>{{jarjestajanNimi}}</td>
          <td>{{arviointipaiva}}</td>
          <td>
            {{#tekstinYmmartaminen}}{{tekstinYmmartaminen}}{{/tekstinYmmartaminen}}
          </td>
          <td>{{#kirjoittaminen}}{{kirjoittaminen}}{{/kirjoittaminen}}</td>
          <td>
            {{#rakenteetJaSanasto}}{{rakenteetJaSanasto}}{{/rakenteetJaSanasto}}
          </td>
          <td>
            {{#puheenYmmartaminen}}{{puheenYmmartaminen}}{{/puheenYmmartaminen}}
          </td>
          <td>{{#puhuminen}}{{puhuminen}}{{/puhuminen}}</td>
          <td>{{#yleisarvosana}}{{yleisarvosana}}{{/yleisarvosana}}</td>
        </tr>
        {{#tarkistusarvioinninSaapumisPvm}}
        <tr>
          <td colspan="13">
            <details>
              <summary>Näytä tarkistusarvioinnin tiedot</summary>
              <table>
                <tr>
                  <th>Saapumispäivä</th>
                  <th>Asiatunnus</th>
                  <th>Osakokeet</th>
                  <th>Arvosana muuttui?</th>
                  <th>Perustelu</th>
                  <th>Käsittelypäivä</th>
                </tr>
                <tr>
                  <td>
                    {{#tarkistusarvioinninSaapumisPvm}}{{tarkistusarvioinninSaapumisPvm}}{{/tarkistusarvioinninSaapumisPvm}}
                  </td>
                  <td>
                    {{#tarkistusarvioinninAsiatunnus}}{{tarkistusarvioinninAsiatunnus}}{{/tarkistusarvioinninAsiatunnus}}
                  </td>
                  <td>
                    {{#tarkistusarvioidutOsakokeet}}{{tarkistusarvioidutOsakokeet}}{{/tarkistusarvioidutOsakokeet}}
                  </td>
                  <td>
                    {{#arvosanaMuuttui}}{{arvosanaMuuttui}}{{/arvosanaMuuttui}}
                  </td>
                  <td>{{#perustelu}}{{perustelu}}{{/perustelu}}</td>
                  <td>
                    {{#tarkistusarvioinninKasittelyPvm}}{{tarkistusarvioinninKasittelyPvm}}{{/tarkistusarvioinninKasittelyPvm}}
                  </td>
                </tr>
              </table>
            </details>
          </td>
        </tr>
        {{/tarkistusarvioinninSaapumisPvm}}
      </tbody>
      {{/suoritukset}}
    </table>
    <nav aria-label="Suoritusten sivutus">
      <ul class="paging">
        <li>
          {{#paging.previousPage}}<a href="?search={{paging.searchStrUrl}}&versionHistory={{versionHistory}}&page={{paging.previousPage}}" aria-label="Edellinen sivu"><</a>{{/paging.previousPage}}
          {{^paging.previousPage}}<{{/paging.previousPage}}
        </li>
        <li>{{paging.currentPage}}</li>
        <li>
          {{#paging.nextPage}}<a href="?search={{paging.searchStrUrl}}&versionHistory={{versionHistory}}&page={{paging.nextPage}}" aria-label="Seuraava sivu">></a>{{/paging.nextPage}}
          {{^paging.nextPage}}>{{/paging.nextPage}}
        </li>
      </ul>
    </nav>
{{/body}}
{{/page}}
