<!doctype html>
<html lang="fi">
  <head>
    <title>Kielitutkintorekisteri</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1><a href="/">Kielitutkintorekisteri</a></h1>
    <h2>Yleiset kielitutkinnot - suoritukset</h2>

    <a href="/yki/api/suoritukset" download>Lataa tiedot CSV:nä</a>

    <table>
      <thead>
        <tr>
          <th>Suorituksen tunniste</th>
          <th>Tutkintopäivä</th>
          <th>Tutkintokieli</th>
          <th>Tutkintotaso</th>
          <th>Järjestäjän OID</th>
          <th>Järjestäjän nimi</th>
          <th>Arviointipäivä</th>
          <th>Tekstin ymmärtäminen</th>
          <th>Kirjoittaminen</th>
          <th>Rakenteet ja sanasto</th>
          <th>Puheen ymmärtäminen</th>
          <th>Puhuminen</th>
          <th>Yleisarvosana</th>
        </tr>
      </thead>
      {{#suoritukset}}
      <tbody class="suoritus">
        <tr>
          <td>{{suoritusId}}</td>
          <td>{{tutkintopaiva}}</td>
          <td>{{tutkintokieli}}</td>
          <td>{{tutkintotaso}}</td>
          <td>{{jarjestajanTunnusOid}}</td>
          <td>{{jarjestajanNimi}}</td>
          <td>{{arviointipaiva}}</td>
          <td>
            {{#tekstinYmmartaminen}}{{tekstinYmmartaminen}}{{/tekstinYmmartaminen}}
          </td>
          <td>{{#kirjoittaminen}}{{kirjoittaminen}}{{/kirjoittaminen}}</td>
          <td>
            {{#rakenteetJaSanasto}}{{rakenteetJaSanasto}}{{/rakenteetJaSanasto}}
          </td>
          <td>
            {{#puheenYmmartaminen}}{{puheenYmmartaminen}}{{/puheenYmmartaminen}}
          </td>
          <td>{{#puhuminen}}{{puhuminen}}{{/puhuminen}}</td>
          <td>{{#yleisarvosana}}{{yleisarvosana}}{{/yleisarvosana}}</td>
        </tr>
        <tr>
          <td colspan="13">
            <details>
              <summary>Näytä suorittajan tiedot</summary>
              <table>
                <tr>
                  <th>OID</th>
                  <th>Sukunimi</th>
                  <th>Etunimet</th>
                  <th>Sukupuoli</th>
                  <th>Henkilötunnus</th>
                  <th>Kansalaisuus</th>
                  <th>Osoite</th>
                  <th>Sähköposti</th>
                </tr>
                <tr>
                  <td>{{suorittajanOID}}</td>
                  <td>{{sukunimi}}</td>
                  <td>{{etunimet}}</td>
                  <td>{{sukupuoli}}</td>
                  <td>{{hetu}}</td>
                  <td>{{kansalaisuus}}</td>
                  <td>{{katuosoite}}, {{postinumero}} {{postitoimipaikka}}</td>
                  <td>{{email}}</td>
                </tr>
              </table>
            </details>
          </td>
        </tr>
        {{#tarkistusarvioinninSaapumisPvm}}
        <tr>
          <td colspan="13">
            <details>
              <summary>Näytä tarkistusarvioinnin tiedot</summary>
              <table>
                <tr>
                  <th>Saapumispäivä</th>
                  <th>Asiatunnus</th>
                  <th>Osakokeet</th>
                  <th>Arvosana muuttui?</th>
                  <th>Perustelu</th>
                  <th>Käsittelypäivä</th>
                </tr>
                <tr>
                  <td>
                    {{#tarkistusarvioinninSaapumisPvm}}{{tarkistusarvioinninSaapumisPvm}}{{/tarkistusarvioinninSaapumisPvm}}
                  </td>
                  <td>
                    {{#tarkistusarvioinninAsiatunnus}}{{tarkistusarvioinninAsiatunnus}}{{/tarkistusarvioinninAsiatunnus}}
                  </td>
                  <td>
                    {{#tarkistusarvioidutOsakokeet}}{{tarkistusarvioidutOsakokeet}}{{/tarkistusarvioidutOsakokeet}}
                  </td>
                  <td>
                    {{#arvosanaMuuttui}}{{arvosanaMuuttui}}{{/arvosanaMuuttui}}
                  </td>
                  <td>{{#perustelu}}{{perustelu}}{{/perustelu}}</td>
                  <td>
                    {{#tarkistusarvioinninKasittelyPvm}}{{tarkistusarvioinninKasittelyPvm}}{{/tarkistusarvioinninKasittelyPvm}}
                  </td>
                </tr>
              </table>
            </details>
          </td>
        </tr>
        {{/tarkistusarvioinninSaapumisPvm}}
      </tbody>
      {{/suoritukset}}
    </table>
  </body>
</html>
